<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="build/server.js" verb="*" modules="iisnode"/>
    </handlers>


    <iisnode
      nodeProcessCommandLine="C:\Users\Administrator\AppData\Roaming\nvm\v12.16.3\node.exe --no-deprecation --no-warnings"
      watchedFiles="web.config;*.js;node_modules\*;*.env"
    />

    <rewrite>
      <rules>

        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode.+" negate="true"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="build/server.js"/>
        </rule>

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="build/server.js"/>
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
