<p style="text-align: justify;">
  Obrigado por se inscrever!!.
  <br />
  <br />
  O evento acontecerá dia 13 de outubro com abertura do portão 2 às 18h45 localizado na R. Adão Stropa (lateral a R. Higino Muzi Filho).
  <br />
  <br />
  Por favor, leiam atentamente as orientações que estão sendo enviadas neste e-mail. O descumprimento de qualquer protocolo anexado,
    acarretará no convite para se retirar desse evento.
  <br />
  <br />
  Também, você está recebendo um número para poder participar de um sorteio que está acontecendo nas nossas redes sociais
    (<a href="https://www.instagram.com/eu.contabilista/">@eu.contabilista</a> no instagram).
    Para participar do nosso sorteio, vá até nosso perfil no instagram e veja os requisitos.
  <br />
  <br />
  <strong>Número sorteio: {{ id }}</strong>
  <br />
  <br />
  Siga nossas redes sociais para ficar por dentro das novidades do evento (
    <a href="https://www.instagram.com/eu.contabilista/">@eu.contabilista</a> e
    <a href="https://www.instagram.com/univemoficial/">@univemoficial</a>).
  <br />
  <br />
  <a href="https://www.univem.edu.br/storage/arquivos_new/layout-drivein.pdf">Clique aqui</a> para visualizar o layout do evento.
</p>

<br />
{{> qrcode }}
