<p style="text-align: justify;">
  Obrigado por se inscrever!!.
  <br />
  <br />
  O evento acontecerá dia 14 de outubro com abertura do portão 2 às 18h45 localizado na R. Adão Stropa (lateral a R. Higino Muzi Filho).
  <br />
  <br />
  Por favor, leiam atentamente as orientações que estão sendo enviadas neste e-mail. O descumprimento de qualquer protocolo anexado,
    acarretará no convite para se retirar desse evento.
  <br />
  <br />
  <a href="https://www.univem.edu.br/storage/arquivos_new/layout-drivein.pdf">Clique aqui</a> para visualizar o layout do evento.
</p>

<br />
{{> qrcode }}
