<strong>Olá, {{ name }}</strong>
<p>Sua inscrição para o evento <strong>"Eu Contabilista"</strong> foi registrada.</p>
<p>
  <strong>Placa: </strong> {{ board }} <br />
  <strong>CPF:</strong> {{ cpf }} <br />

  <br />
  <img src="cid:qrcode">
  <br />

  Guarde este e-mail ou salve o QR Code para utilizar na portaria do evento.
</p>
