<footer>
  <p>
    <small>
      Centro Universitário Eurípides de Marília - UNIVEM
      <br />
      Avenida Hygino Muzzi Filho, 529 - CEP: 17.525-901 - Marilia/SP
      <br />
      E-mail: <a href='mailto:suporte@univem.edu.br?subject={{ subject_mail }}'>suporte@univem.edu.br</a>
      <br />
      Fone: (14) 2105-0800
    </small>
  </p>
</footer>
